	<style>
		.inputs{
			width:100%;
			border:1px solid #ccc;
			color:#57595B;
			border-radius: 2px 2px 2px 2px;
			-moz-border-radius: 2px 2px 2px 2px;
			-webkit-border-radius: 2px 2px 2px 2px;
		}
		textarea{
			resize:none;
		}
	</style>
	<div class='panel' id='nohayEmp'>
		<div  class="row" >
			<div class='col-xs-1' style='background-color:#f3f3f3 !important;'></div>
			<div class='col-xs-10'>
				<div class="panel panel-default" style="padding:15px;">
					<div class="modal-content text-center" id="contentLogin" style="min-height: 263px;">
						<div class="modal-header" style="background-image: url('images/parallax-bg.jpg');padding-top: 35px;padding-bottom: 35px;color: #fff;border-radius: 4px 4px 0 0;background-position: center top;font-size: 40px;    padding: 15px;border-bottom: 1px solid #e5e5e5;min-height: 16.42857143px;">
						  NubePOS
						</div>
						<div class="modal-body" style="min-height: 266px;">
							<div id="divdatoslogin" style="overflow:auto;">
							<h3 style="-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;">Por Favor Ingresa a la pestaña de Cloud y <span style="color:#0893d2;">Empecemos!</span></h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='col-xs-1' style='background-color:#f3f3f3 !important;'></div>
		</div>
	</div>
	<div class='panel' id='sihayEmp'>
		<div  class="row" >
			<div class='col-xs-1'></div>
			<div class='col-xs-10'>
				<div class="panel panel-default" style="padding:15px;">
					<table class='table' style='width:80%;align:center !important;'>
						<tr> 
							<th>
								Nombre Solicitante : 
							</th>
							<td>
								<input type='text' id='nombreSoli' placeholder='Nombre Solicitante' class='inputs'/>
								<input type='hidden' id='id'/>
								<input type='hidden' id='dbname'/>
							</td>
						</tr>
						<tr>
							<th>
								Nombre Establecimiento : 
							</th>
							<td>
								<input type='text' id='nombreEsta' placeholder='Nombre Establecimiento' class='inputs'/>
							</td>
						</tr>
						<tr>
							<th>
								Razón Social : 
							</th>
							<td>
								<input type='text' id='razon' placeholder='Razón Social' class='inputs'/>
							</td>
						</tr>
						<tr>
							<th>
								Ruc : 
							</th>
							<td>
								<input type='text' id='ruc' placeholder='Ruc' class='inputs'/>
							</td>
						</tr>
						<tr>
							<th>
								Telefono : 
							</th>
							<td>
								<input type='text' id='tel' placeholder='Telefono' class='inputs'/>
							</td>
						</tr>
						<tr>
							<th>
								Email : 
							</th>
							<td>
								<input type='text' id='email' placeholder='Email' class='inputs'/>
							</td>
						</tr>
						<tr>
							<th>
								Dirección : 
							</th>
							<td>
								<textarea id='dir' placeholder='Dirección...' class='inputs'></textarea>
							</td>
						</tr>
						<tr>
							<th>
								Observaciones : 
							</th>
							<td>
								<textarea id='obs' placeholder='Observaciones...' class='inputs'></textarea>
							</td>
						</tr>
						<tr>
							<td colspan='2' align='center' style='text-align:center;'>
								<center>
									<button type="button" class="btn btn-primary" style='display:none;' id='actualiza' onclick='actualizar()'>Actualizar</button>
									<button type="button" class="btn btn-primary" style='display:;' id='graba' onclick='grabar()'>Grabar</button>
									<br/>
									<div id='msjOk'></div>
								</center>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class='col-xs-1'></div>
		</div>
		<div  class="row" >
			<div class='col-xs-1'></div>
			<div class='col-xs-10'>
				<div class="panel panel-default" style="padding:15px;">
					<button type="button" class="btn btn-primary" onclick="window.open('centvia://?udn=Impresion&utt=NubePOS&cru=nubeposv%3a%2f%2f&cruf=nubeposv%3a%2f%2f&c_=!+0+200+200+540+1%0d%0aTEXT+4+0+20+10+Prueba+de+Impresion%0d%0aTEXT+7+0+20+60+NubePOS%0d%0aENDML%0d%0aCONCAT+250+300%0d%0aENDCONCAT%0d%0a%0d%0aPRINT%0d%0a','_blank');">Probar Impresora</button>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
	$( document ).ready(function() {
		saberDatosEmpresa();
	});
	function actualizar(){
		var id = $('#id').val();
		var nombreSoli = $('#nombreSoli').val();
		var nombreEsta = $('#nombreEsta').val();
		var razon = $('#razon').val();
		var ruc = $('#ruc').val();
		var tel = $('#tel').val();
		var email = $('#email').val();
		var dir = $('#dir').val();
		var obs = $('#obs').val();	
		var dbname = $('#dbname').val();
		var identificador = 'actualizar';
		
		$.post('https://www.practisis.net/apis/nubepos/actualizaFormulario.php',{
			dbname : dbname , id : id , nombreSoli : nombreSoli , nombreEsta : nombreEsta , razon : razon , 
			tel : tel , email : email , dir : dir , obs : obs , identificador : identificador , ruc : ruc
		}).done(function(data){
			$('#msjOk').html(data);
		});
	}
	function grabar(){
		var nombreSoli = $('#nombreSoli').val();
		var nombreEsta = $('#nombreEsta').val();
		var razon = $('#razon').val();
		var ruc = $('#ruc').val();
		var tel = $('#tel').val();
		var email = $('#email').val();
		var dir = $('#dir').val();
		var obs = $('#obs').val();	
		var dbname = $('#dbname').val();
		var identificador = 'nuevo';
		
		
		$.post('https://www.practisis.net/apis/nubepos/actualizaFormulario.php',{
			dbname : dbname , nombreSoli : nombreSoli , nombreEsta : nombreEsta , razon : razon , 
			tel : tel , email : email , dir : dir , obs : obs , identificador : identificador , ruc : ruc
		}).done(function(data){
			$('#msjOk').html(data);
		});
	}
	function saberDatosEmpresa(){
		var db = window.openDatabase("Database", "1.0", "PractisisMobile", 200000);
		db.transaction(function(tx){
			var excluir = 0;
			tx.executeSql('SELECT * from empresa ',[],function(tx,res){
				if(res.rows.length>0){
					//alert('si');
					$('#nohayEmp').css('display','none');
					$('#sihayEmp').fadeIn('slow');
					for (var i=0; i < res.rows.length; i++){
						var row = res.rows.item(i);
						var dbname = row.nombre;
						console.log(dbname);
						$('#dbname').val(dbname);
						$.post('https://www.practisis.net/apis/nubepos/obtenerFormularioEmpresa.php',{
							dbname : dbname
						}).done(function(json){
							if($.trim(json)=='error'){
								$('#graba').css('display','block');
								$('#actualiza').css('display','none');
							}else if($.trim(json)!='error'){
							console.log(json);
								$('#graba').css('display','none');
								$('#actualiza').css('display','block');
								var obj=jQuery.parseJSON(json);
								for(i=0; i<= (obj.formulario.length -1); i++){
									var id= obj.formulario[i].id;
									var nombre_solicitante= obj.formulario[i].nombre_solicitante;
									var nombre_establecimiento= obj.formulario[i].nombre_establecimiento;
									var razon_social= obj.formulario[i].razon_social;
									var numero_ruc= obj.formulario[i].numero_ruc;
									var numero_telefono= obj.formulario[i].numero_telefono;
									var email= obj.formulario[i].email;
									var direccion= obj.formulario[i].direccion;
									var observacion= obj.formulario[i].observacion;
									$('#id').val(id);
									$('#nombreSoli').val(nombre_solicitante);
									$('#nombreEsta').val(nombre_establecimiento);
									$('#razon').val(razon_social);
									$('#ruc').val(numero_ruc);
									$('#tel').val(numero_telefono);
									$('#email').val(email);
									$('#dir').val(direccion);
									$('#obs').val(observacion);
								}
							}
						});
					}
				}else{
					//alert('no');
					$('#sihayEmp').css('display','none');
					$('#nohayEmp').fadeIn('slow');
					setTimeout(function() {
						$('#cloudIndex').effect('highlight');
					}, 1500);
					setTimeout(function() {
						$('#cloudIndex').effect('highlight');
					}, 1800);

				}
			});
		},errorCB,successCB);
	}
</script>
