<script src="js/sync.js" ></script>
	<div class="row">
		<div class="col-xs-12">
			<div id="yaConectado" style="display:none;width:60%;padding:0px;margin:0px;margin-top:80px;">
				<div class="modal-header" style="background-image: url(http://www.practipos.com/img/parallax-bg.jpg);padding-top: 35px;
					padding-bottom: 35px;
					color: #fff;
					border-radius: 4px 4px 0 0;
					background-position: center top;font-size: 40px;    padding: 15px;
					border-bottom: 1px solid #e5e5e5;
					min-height: 16.42857143px;">
			  		NubePOS Conectado <br/> <label class="putEmp"></label>
			  		<small><br/>Sincronizando...</small>
			  		<center><a href="https://www.practisis.net/login.php" target="_blank" ><input class="btn btn-md btn-primary btn-center" type="button"  value="Abrir punto de venta en la nube" /> </a></center>
			</div>

			</div>
		</div>
	</div>

    <div id="bloqueo" style="display: none;">
  		<div class="modal-header">
  	  		Su cuenta de NubePOS se encuentra bloqueada por falta de pago <br/> <label class="putEmp"></label>
  	  		<center><a id="linklogin" href="" target="_blank" ><input class="btn btn-md btn-primary btn-center" type="button"  value="Abrir punto de venta en la nube" /> </a></center>
  	    </div>
	</div>

    <div class="alert alert-danger" role="alert" style="display: none;"></div>

<div class="row" id="contentStepSincro" style="display:none;" >
		<div class="col-md-3" ></div>
		<div class="col-md-6" >
			
				<div class="bs-example" data-example-id="simple-nav-justified">
				<ul class="nav nav-tabs nav-justified" style="display:none;">
				  <li role="presentation" class="active"><a href="#"> <span class="badge">1</span> Productos</a></li>
				  <li role="presentation"><a href="#"> <span class="badge">2</span> Facturas</a></li>
				  <li role="presentation"><a href="#"> <span class="badge">3</span>  Clientes</a></li>
				  <li role="presentation"><a href="#" >  <span class="badge">4</span> Final </a></li>
				</ul>
				<br><br>
				<center> <i> <span id="txtSincro">Sincronizando Productos...</span> </i> </center>
				<div class="progress" >
					<div id="theProgress" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0.5%"><span class="sr-only">25% Complete</span></div>
				</div>
			  </div>
			  
			
			
		</div>
		<div class="col-md-3" ></div>
	</div>

	<div id="putHereIframes" style="display:none;"> </div>
	<div class="row" style="display:none;" id="fadeRow" >
    <span style="font-size: 40px">PractiPOS</span>
		<div class="col-md-12">
		<div class="text-center" id="contentLogin" style="min-height: 263px;">
			<div class="modal-body" style="min-height: 266px;">
			 <div id="divdatoslogin" style="overflow:auto;">
			  <h3 style="-webkit-margin-before: 1em;
		-webkit-margin-after: 1em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;">Ingresa a tu sistema y <span style="color:#0893d2;">Empecemos!</span></h3>

			  <form method="post" class="contact-form form-validate4" id="myloginform" novalidate="novalidate">
				<div class="form-group">
				  <input class="form-control input-lg" type="text" id="user2" name="usuario" placeholder="Usuario" required="" value="" autocomplete="off" aria-required="true">
				</div>
				<div class="form-group">
				  <input type="password" id="pass2" name="mipass" value="" class="form-control input-lg" placeholder="Password" required="" autocomplete="off" aria-required="true">
				</div>
			   <button class="btn btn-success"  id="btnvalida2" type="button" onclick="UserLogin();">Login</button>
			  </form>
			  </div>
			  
			  <div id="varias">
			  </div>
			</div>
		  </div>
		</div>
		
		<div class="col-md-3" >
		<div id="mensaje2"></div>
		<input id="user" type="hidden" />
		<input id="pass" type="hidden" />
		</div>
		<br><br><br><br><br><br><br><br><br>

	  </div>
	  <div class='row'>
		<div class='col-lg-12' id='finalizado'>
		<img style='max-width:60%;' src='images/doneSync.png' style='cursor:pointer;' />
		</div>
	  </div>
	  
	<!--End row -->

	  <script>
	  	
			function mostrarSignIn(){
				$(".putHeightRows").css("height" , $(window).height() + "px");
				$("#demoGratis").css("display" , "none");
				$("#fadeRow").fadeIn();
			
			}
			
			function nuevaCuenta(){
				$(".putHeightRows").css("height" , $(window).height() + "px");
				$("#fadeRow").css("display" , "none");
				$("#demoGratis").fadeIn("fast",function(){
					$("#animaRegister").animate({ top : "50px" });
				});
			}
	  </script>
	  <!-- Registro -->
	  <div class="row" style="display:block;" id="demoGratis" >
		<!--<div class="col-md-3" >
		</div>-->
		  <span style="font-size: 40px">PractiPOS</span>
		<div class="col-md-12" style="position:relative;min-height: 300px;overflow:hidden;">
			 <div id="divdatoslogin" style="overflow:auto;">
			  <h3 style="-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;">Regístrate</h3>
            <div class="form-group">
              <input type="form-control input-lg" name="empresa"  class="form-control input-lg" id="newEmpresa" placeholder="Nombre de tu Negocio" required="" autocomplete="off">
            </div>

            <div class="form-group">
              <input class="form-control input-lg" type="email" name="email" id="newEmail" placeholder="E-mail" required="" autocomplete="off">
            </div>
         <div class="form-group">
              <input type="password" name="pass" id="newPass"  class="form-control input-lg" placeholder="Ingresa una contraseña" required="" autocomplete="off">
            </div>
			 <div class="form-group">
              <input type="password" name="pass" id="newConfirm"  class="form-control input-lg" placeholder="Confirma tu contraseña" required="" autocomplete="off">
            </div>
			
			<div class="form-group">
					<a data-toggle="modal" data-target="#recuperarPass" onclick="mostrarSignIn();" href="">¿Ya tienes cuenta PractiPOS haz click aquí?</a><br/>
			</div>
				
			
<input class="btn btn-md btn-success btn-center" type="button" id="btnNewEmp" value="Enviar" onclick="registrarUser();">
			  </div>
			  
			  <div id="varias">
			  </div>
		</div>
		
		<div class="col-md-3" >
		<div id="mensaje2"></div>
		<input id="user" type="hidden" />
		<input id="pass" type="hidden" />
		</div>
		
	  </div> <!--End row -->
	  <br/><br/><br/><br/><br/><br/>
	  <!-- STEP 1 -->
	  
	  <!-- STEP 2 --->
		
	  <!-- STEP 2 --->
	 
	  
	  
	  
	  <!--
	<div  style="display:none;background: rgba(0,0,0 0.8) none repeat scroll 0% 0%; width: 60%; height: auto; position:; z-index: 20000; text-align: center;margin:0 auto;margin-top:30px;" id='cuentasSinc'>
		<div class='row' id='popupLogin2' style="padding-top:6%; box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75); background-color: #ffffff; color: #000000; margin-left: auto; margin-right: auto;overflow:auto;height:130px;border:10px solid #2EC1CC;">
			<div class='col-md-5'>
				<button type="button" class="btn btn-primary" onclick='nuevaCuenta()'>Crear Nueva Cuenta NubePOS</button>
			</div>
			<div class='col-md-2'></div>
			<div class='col-md-5'>
				<button type="button" class="btn btn-primary" onclick='usarLogin()'>Usar Cuenta Existente NubePOS</button>
			</div>
		</div>
	</div>
-->
	<!--
	<div id="popupLoginNuevo" style="display:none;width:50%;padding:20px;margin-top: 10px; box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75); background-color: #ffffff; color: #000000; margin-left: auto; margin-right: auto;overflow:auto;height:350px;">

	 
	

		<div class="encabezadorojo" style='position:relative;height:30px;font-size:20px;padding-left:10px;'>

		LOGIN PRACTISIS<img src='images/xcierre.png' style='position:absolute; top:3px; right:5px; cursor:pointer;' onclick='cerrarLogin2()'/></div>
		<div style='background-color:#E0DEDE; padding-top:20px; padding-bottom:20px;' id='contieneEmpresasNuevo'>
			<div class="row" style="padding-top: 10px;padding-bottom: 10px;">
				<div class="col-md-12"  style="text-align: center;">
						<div class="panel panel-default">
								<div  class="panel-heading">
									<strong><span class="glyphicon glyphicon-th"></span>
									 Autentificación de Usuario
								</div>        
								<div class="panel-body">
									<div class="input-group">
										<label class="input-group-addon">User:</label>
										<input type="text" id="user2" class="form-control" />
									</div>
									<div style="height:10px;"></div>
									<div class="input-group">
										<label class="input-group-addon">Pass:</label>
										<input type="password" id="pass2" class="form-control" />
									</div>
									<div style="height:10px;"></div>
									<button class="btn btn-default" id='btnvalida2' type="button" onclick="valida2();">Login</button>
								</div>
						</div>
								<div id="mensaje2"></div>
					</div>
			</div>
		</div>
	</div>
	-->
	<!--
	<div id="contenedorNuevaCuenta" style='display:none;margin-top:50px;'>
		<img src='images/xcierre.png' style='position:absolute; top:3px; right:5px; cursor:pointer;' onclick='cerrarLogin3()'/>
		<iframe src='http://practisis.net/registro/registrate.php' width='100%' height='800px' frameborder='no' ></iframe>
	</div>
	<div id='recibeAlertasActualizaciones'></div>
	<div id="mainDivSinc" style="margin: 0px; padding: 0px; width:100%; height: 800px; background-color: #ffffff; font-size:14px; color:#404041;display:none;">
		<table style="width:100%;" border="0" cellpadding='10px' class='table table-striped' style='display:none;'>
			<tr>
				<td >
					<h3>Lista de Productos</h3>
				</td>
				<td>
					<div>
						<i class="fa fa-cloud-upload fa-5x" onclick='subeDatos()' id='sube1'></i>
							<h1 onclick='subeDatos()' >Sube1.1</h1>
						<i class="fa fa-cloud-upload fa-5x" id='sube2' style='display:;' onclick='subeFacturas()'></i>
					</div>
				</td>
				<td>
					<div style='display:none;'>
						<i class="fa fa-download fa-5x" onclick='subeClientes()' id='sube1'></i>
						<h1>Sube1.2</h1>
					</div>
				</td>
			</tr>
			<tr>
				<td style="text-align: right; vertical-align:middle; width: 450px;">-->
					<!--<select id="categoryType" class='selectpicker'>
						<option value="0">Todas las categorías</option>
					</select>-->
					<!-- Single button -->
					<!--
					<select id='listacategorias' style='font-size:15px;'>
						<option value='0'>Todas las categorias</option>
					</select>
				</td>
				<td style="text-align: left; vertical-align:middle; width: 550px;">
					<table style="margin-left: 0px; margin-right: auto;" border="0" cellpadding="4px" cellspacing="10px">
						<tr>
							<td style='vertical-align:middle;'>
								<input placeholder='busqueda' type="text" class='form-control' id="searchKeyword" name="category"/>
							</td>
							<td  style='vertical-align:middle;'>
								<button type='button' class="btn btn-primary" onclick="page=0; getSearch(); return false;">Buscar</button>-->
								<!--<input type="image" style="padding: 0px; margin: 0px;" onclick="getSearch(); return false;" alt="Search" src="gfx/search.png"/>-->
								<!--
							</td>
						</tr>
					</table>
				</td>
				<td></td>
			</tr>
			<tr>
				<td colspan="3">
					<div id="detailDiv2" style="height:650px; padding-top:20px; margin:0px; font-size:15px;display:none;"></div>
				</td>
			</tr>
			<tr>
				<td colspan="3" style='text-align:center;'>
					<ul class="pagination paginacion-lg" id='paginacion' style='display:none;'>
					</ul>
					<input id='totalpags' style='display:none;'/>
				</td>
			</tr>
		</table>	
	</div>
	-->
<input type="hidden" id="idcategoria" />
<script>
$(document).ready(function(){
	if(procesocount==0){
		$('#fadeRow,#contentStepSincro').css("display","none");
		if(localStorage.getItem("idbarra")==null){
			$('#demoGratis').fadeIn();
			$('.navbar').slideUp();
			$('#finalizado').css('display','none');
		}else{
			$('#finalizado').fadeIn();
			$('#demoGratis').css("display","none");
		}
	}else{
		$('#finalizado,#demoGratis,#fadeRow').css("display","none");
		$('#contentStepSincro').fadeIn();
	}
});
		//SyncStart();
		/*var loopSicnronizador;
		var yaConectado=false;
		var empresa = localStorage.getItem('empresa');
		userRegister = localStorage.getItem('userRegister');
		userPasswod = localStorage.getItem('userPasswod');
		globalLocalCategory=0;
		ContGlobalLocalCategory=0;
		contGlobalLocalProduct=0;
		lenGlobalLocalProduct=0;
		lenGlobalLocalClient=0;
		GlobalLocalClient=0;
												
			if(userRegister){
				localStorage.setItem("userRegister", '');
				localStorage.setItem("userPasswod", '');
				$("#user2").val(userRegister);
				$("#pass2").val(userPasswod);
				mostrarSignIn();
				validateToken();
				
			}else{
		
				var db = window.openDatabase("Database", "1.0", "PractisisMobile", 200000);
						db.transaction(function(tx){
					tx.executeSql('SELECT nombreempresa FROM empresa',[],function(tx,results){

								for (var i=0; i <= results.rows.length-1; i++){
									var row = results.rows.item(i);
									var nombreempresa = row.nombreempresa;
								}
									if(nombreempresa){
										
										yaConectado=true;
										$(".putEmp").html(""+nombreempresa+ "<small>("+empresa+")</small>");
										$("#yaConectado").fadeIn();
										$("#contentLogin").css("display" , "none");
										$("#texto15Dias").css("display" , "none");
										$("#demoGratis").css("display" , "none");
										$("#fadeRow").css("display" , "none");

										clearInterval(loopSicnronizador);
										loopSicnronizador=setTimeout(function(){

											loginEmpresa(empresa,nombreempresa)
										},3000);

									//loginEmpresa(empresa,nombreempresa);
									}else{
										yaConectado=false;
										nuevaCuenta();
									}

			},errorCB ,successCB);
		});
		}
		
		
		function registrarUser(){
				newEmpresa=$("#newEmpresa").val();
				newEmail=$("#newEmail").val();
				newPass=$("#newPass").val();
				newConfirm=$("#newConfirm").val();
                var expr = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                if(newEmpresa==''){
                  $('.alert-danger').fadeIn('slow');
                  $(".alert-danger").html('Debe ingresar el nombre de tu negocio.');
                  $("#newEmpresa").val('');
                  setTimeout(function(){ $('.alert-danger').fadeOut('slow'); }, 3000);
                }else if(newEmail=='' || !expr.test(newEmail)){
                  $('.alert-danger').fadeIn('slow');
                  $(".alert-danger").html('Debe ingresar un e-mail valido para tu negocio.');
                  $("#newEmail").val('');
                  setTimeout(function(){ $('.alert-danger').fadeOut('slow'); }, 3000);
                }else{
    				if(newConfirm == newPass){
    					nombre='User NubePOS';
    					celular=0;
    					email=0;
    					passw=newPass;
    					rpassw=newConfirm;
    					empresa=newEmpresa;
    					planPrecio=2;
    					nTerminales=1;
    					sistema=0;
    					franquicia=0;
    					pais=1;
    					versiones=7;
    					plan=0;
    					$("#btnNewEmp").html('<img src="images/loader.gif"  width="50%" />');
    					$.post("http://practisis.net/registro/registroNubePOS.php", {
    						nombre : nombre,
    						celular : celular,
    						email :newEmail,
    						pass : newPass,
    						rpass : newConfirm,
    						empresa : empresa,
    						planPrecio : planPrecio,
    						nTerminales : nTerminales,
    						sistema : sistema,
    						pais : pais,
    						franquicia : franquicia,
    						versiones : versiones

    					}).done(function(data){
                          if(data=='existe'){
                            $('.alert-danger').fadeIn('slow');
                            $(".alert-danger").html('El correo ingresado ya existe en el sistema, vuelva a ingresar otro correo.');
                            $("#newEmail").val('');
                            setTimeout(function(){ $('.alert-danger').fadeOut('slow'); }, 3000);
    					  }else{
        						localStorage.setItem("userRegister", newEmail);
        						localStorage.setItem("userPasswod", newPass);

        						$("#btnNewEmp").html('Enviar');
        						$("#demoGratis").css("display" , "none");
        						$("#fadeRow").css("display" , "none");
        						$("#putHereIframes").html(data);
        						$("#putHereIframes").prepend("Procesando Petición");
        						$("#fadeCloud").html("<table width='100%' height='100%' cellpadding='0'  cellspacing='0'><tr>td valign='center' align='center' ><iframe src='views/cloud/timer.html' style='width:60%;height:50%;border:0px;' border='0' ></iframe></td></tr></table>");
        						$("#fadeCloud").fadeIn();
                            }
    					});

    				}else{
    				  $('.alert-danger').fadeIn('slow');
                      $(".alert-danger").html('Las contraseñas son distintas.');
                      $("#newPass").val('');
    				  $("#newConfirm").val('');
                      setTimeout(function(){ $('.alert-danger').fadeOut('slow'); }, 3000);
    				}
                }
			}
			$(".putHeightRows").css("height" , $(window).height() + "px");*/
</script>
