
<script>
	function obtenerFechaHoy(){
	var today = new Date();
		var m = today.getMonth()+1; // 0-11
		var y = today.getFullYear();
		var d = today.getDate();
		return y+"-"+m+"-"+d;
	}

	function saberFecha(fecha){
	var today = new Date(fecha);
		var m = today.getMonth()+1; // 0-11
		var y = today.getFullYear();
		var d = today.getDate();
		return y+"-"+m+"-"+d;
	}

	function convertirTime(strFecha){
		var myDate=strFecha; // 2015-11-11 var myDate="26-02-2012";
		myDate=myDate.split("-");
		var newDate=myDate[1]+"/"+myDate[2]+"/"+myDate[0]; // var newDate=myDate[1]+"/"+myDate[0]+"/"+myDate[2];
		return (new Date(newDate).getTime());
	}

	$("#imprimirDetalle").click(function(){
		fechaFiltro=parseInt(convertirTime($("#fechadesde").val()));//1447263393685;//"2015-11-11"; ////$("#select").val();

		fechaRealFiltro=saberFecha(fechaFiltro);
		fechaNow=obtenerFechaHoy();
		numeroFactura="75"; //$("#select").val();
		facturasAnuladas=0;
		var sumaTotales=0;
		var sumaSubtotales=0;
		var sumaIvas=0;
		var today = new Date().getTime();

		jsonFormaPago=$.parseJSON($("#jsonformaspago").text());

		var db = window.openDatabase("Database", "1.0", "PractisisMobile", 200000);
			db.transaction(function(tx){
				tx.executeSql('SELECT * FROM FACTURAS',[],function(tx,results){
				strDetalle='';
				intToday=parseInt(today);
				var contPasa=0;
					for (var i=0; i <= results.rows.length-1; i++){
									var row = results.rows.item(i);
									var fechaFactura = parseInt(row.fecha);

									if(fechaFactura>=fechaFiltro && fechaFactura<=intToday){
										contPasa++;

										var Json = row.fetchJson;
										var formaPago = row.paymentsUsed;

										obj=$.parseJSON(Json);
										currentTotal=parseFloat(obj.Pagar[0].factura.total);
										var cash = currentTotal;//row.cash;
										for(j=0;j<=(jsonFormaPago.FormaPago.length-1);j++){
											idForma=jsonFormaPago.FormaPago[j].id;
											nombreForma=jsonFormaPago.FormaPago[j].nombre;

											if(idForma==formaPago){
												strDetalle+=idForma+'@'+nombreForma+'@'+cash+"|";
											}
										}


												sumaTotales=sumaTotales+currentTotal;
										currentSubtotal=parseFloat(obj.Pagar[0].factura.subtotal_iva);
											sumaSubtotales=sumaSubtotales+currentSubtotal;
										expImp=(obj.Pagar[0].factura.impuestos).split("/");
										iva=parseFloat(expImp[1]);
											sumaIvas = sumaIvas + iva;
									}


							}
							if(contPasa){
								strDetalle=strDetalle.substring(0,strDetalle.length-1);
								nFacturas=results.rows.length;
								var respuesta = imprimirDetalle(fechaNow,fechaRealFiltro,nFacturas,sumaSubtotales.toFixed(2),sumaTotales.toFixed(2),sumaIvas.toFixed(2),strDetalle);
								StarIOAdapter.rawprint(respuesta, "BT:", function() {
									alert("Impresion en curso");
								});
								/*window.open('centvia://?udn=Impresion&utt=NubePOS&cru=NubePOS+V2&c_='+respuesta,'_system','location=yes');*/
							}else{
								alert("No existen facturas en este rango de fechas");
							}



				});
									},errorCB,successCB);


		console.log('SELECT * FROM FACTURAS WHERE fecha>="'+fechaFiltro+'" AND fecha<="'+today+'"');
	});

	function SinTildes(word){
  word=word.replace("á","a");
  word=word.replace("Á","A");
  word=word.replace("é","e");
  word=word.replace("É","E");
  word=word.replace("í","i");
  word=word.replace("Í","I");
  word=word.replace("ó","o");
  word=word.replace("Ó","O");
  word=word.replace("ú","u");
  word=word.replace("Ú","U");
  word=word.replace("ñ","n");
  word=word.replace("Ñ","N");
  return word;
}
function imprimirDetalle(fechaNow,fechaRealFiltro,nFacturas,subtotales,totales,ivas,strDetalle){
		console.log(fechaNow);
		console.log(fechaRealFiltro);
		console.log(subtotales);
		console.log(totales);
		console.log(ivas);
		console.log(strDetalle);
		jsonFormaPago=$.parseJSON($("#jsonformaspago").text());
		strImprimir = '"formaspago":[{';
		var cont=0;
		var BR='%0d%0a';
									for(k=0;k<=(jsonFormaPago.FormaPago.length-1);k++){
										idForma=jsonFormaPago.FormaPago[k].id;
										nombreForma=jsonFormaPago.FormaPago[k].nombre;
										exp=strDetalle.split("|");
										sumaCurrent=0;
										for(h=0;h<=(exp.length-1); h++){
											cash=0;
											exp2=exp[h].split("@");
											cash=parseFloat(exp2[2]);
											idCurrent=exp2[0];

											if(idCurrent==idForma){
												sumaCurrent=sumaCurrent+cash;
											}
										}
										cont=cont+40;
										espacio=340+cont;
										//strImprimir+="TEXT+7+0+20+"+espacio+"+"+nombreForma+"+$"+parseFloat(sumaCurrent).toFixed(2)+"+"+BR;
										
										strImprimir+='"'+nombreForma+'":"'+parseFloat(sumaCurrent).toFixed(2)+'"';
										if(k<jsonFormaPago.FormaPago.length-1)
											strImprimir+=",";
									}
						strImprimir+="}]";
						console.log(strImprimir);

numeroFactura=0;
nombreCliente="josue";
rucCliente='TEXTO DUMMY JOSUE';
pagoForm=0;
subnoiva='0';
subiva=0;
iva=0;
descuen=0;
total=0;
valor="0 @0 ";

 var serv = '0.00';

  var nombrelocal = 'DETALLE DE CAJA';
  var baseu='';
  var extend=espacio;//430;
  var f = new Date();
  var midate= f.getFullYear() + "-" + (f.getMonth() +1) + "-" + f.getDate();
  var hora=f.getHours();
  var min=f.getMinutes();
  var seg=f.getSeconds();
  finali=extend+100;
  dosIvas=parseFloat(ivas).toFixed(2);
  dosTotal=parseFloat(totales).toFixed(2);
  /*txt_titleHead="TEXT+4+0+20+10+DETALLE+DE+CAJA" + BR;
  txt_linea1="TEXT+7+0+20+60+Fecha+caja+"+fechaRealFiltro + BR;
  txt_linea2="TEXT+7+0+20+100+Fecha+de+impresion+"+fechaNow+BR;
  txt_linea3="TEXT+7+0+20+140+Numero+de+facturas+"+nFacturas+BR;
  txt_linea4="TEXT+7+0+20+200+Facturas+anuladas+0"+BR;
  txt_linea5="TEXT+7+0+20+240+SUBTOTAL+$"+subtotales+BR;
  txt_linea6="TEXT+7+0+20+280+IVA+$"+dosIvas+BR;
  txt_linea7="TEXT+7+0+20+320+TOTAL+$"+dosTotal+BR;
  txt_linea8="TEXT+7+0+20+"+finali+"+"+BR;*/
  txt_linea='{"Cierre": [{"fecha_caja":"'+fechaRealFiltro+'","fecha_imp":"'+fechaNow+'","num_facts":"'+nFacturas+'","fact_anuladas":"0","subtotal":"'+subtotales+'","iva":"'+dosIvas+'","total":"'+dosTotal+'",'+strImprimir+'}]}';
  //extend=extend+100;
  //baseu+="TEXT+4+0+20+10+"+SinTildes(nombrelocal).replace(" ","+")+"%0d%0aTEXT+7+0+20+60+"+SinTildes(nombreCliente).replace(" ","+")+"-RUC."+rucCliente+"%0d%0aTEXT+7+0+20+110+"+midate+"+"+hora+"%3a"+min+"%3a"+seg+"%0d%0a";
  //baseu+="%0d%0aTEXT+7+0+20+60+"+SinTildes(nombreCliente).replace(" ","+")+"-RUC."+rucCliente+"%0d%0aTEXT+7+0+20+110+"+midate+"+"+hora+"%3a"+min+"%3a"+seg+"%0d%0a";
	//baseu+=BR + txt_titleHead + txt_linea1 + txt_linea2 + txt_linea3 + txt_linea4 + txt_linea5 + txt_linea6 + txt_linea7 + strImprimir + txt_linea8 ;
  //var ins="!+0+200+200+"+extend+"+1%0d%0a"+baseu+"%0d%0aPRINT%0d%0a";
  //return ins;
  console.log(txt_linea);
  return txt_linea;
}

</script>

<style>
.fa-edit{
	color:#23ae89;
}
.fa-edit:hover{
	color:#404041;
}
</style>
<div id="mainDiv" style="margin: 0px; padding: 0px; width:100%; height: 800px; background-color: #ffffff; font-size:14px; color:#404041;">
		<table style="width:100%;" border="0" cellpadding='10px' class='table table-striped'>
			<tr><td colspan='3'><h3>Historial de Facturas</h3></td></tr>
			<tr>
				<td style="text-align:center; vertical-align:middle; width: 550px;">
					<table align='center' style="text-align:center;margin-left: 0px; margin-right: auto;" border="0" cellpadding="4px" cellspacing="10px">
						<tr>
							<td style='vertical-align:middle;'>
								<input placeholder='Desde' type="text" class='form-control' id="fechadesde" name="fechadesde" style='margin:5px;' readonly />
							</td>
							<!--<td style='vertical-align:middle;'>
								<input placeholder='Hasta' type="text" class='form-control' id="fechahasta" name="fechahasta" style='margin:5px;'/>
							</td>-->
							<td  style='vertical-align:middle;'>
                                <button type='button' class="btn btn-primary" onclick="page=0; getSearch(); return false;">Filtrar</button>
							</td>

						</tr>
					</table>
				</td>
                <td style="text-align:right; vertical-align:middle; width: 50px;">
					<table align='center' style="text-align:center;margin-left: 0px; margin-right: auto;" border="0" cellpadding="4px" cellspacing="10px">
						<tr>
							<td style='vertical-align:middle;width: 20%;'>
							</td>
							<!--<td style='vertical-align:middle;'>
								<input placeholder='Hasta' type="text" class='form-control' id="fechahasta" name="fechahasta" style='margin:5px;'/>
							</td>-->
							<td  style='vertical-align:middle;'>
								  <button class="btn btn-primary"  style="width:200px;margin-right:15px;" id="imprimirDetalle" type="button" >Imprimir Cierre de Caja</button>
							</td>

							<td  style='vertical-align:middle;'>
                                <b>TOTAL$</b> <span id="totalencabezado"></span>
							</td>
                            <td style='vertical-align:middle;width: 20%;'>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div id="detailDiv" style="height:100%; padding-top:20px; margin:0px; font-size:15px;"></div>
				</td>
			</tr>
            <tr>
				<td colspan="2" style="background-color: #FFFFFF;">
                    <div id="detailDiva" style="height:100%;padding-top:20px;font-size:15px;background-color: #FFFFFF;"></div>
				</td>
			</tr>
			<tr style="display: none;">
				<td colspan="2" style='text-align:center;'>
					<ul class="pagination paginacion-lg" id='paginacion'>
					</ul>
					<input id='totalpags' style='display:none;'/>
				</td>
			</tr>
		</table>
</div>

<script type="text/javascript">
var page=0;

$(document).ready(function(){
$('#fechahasta,#fechadesde').datepicker({"dateFormat":"yy-mm-dd"});

var fechahoyaux=new Date();
fechahoyaux=parseInt(fechahoyaux.getTime());
fechahoyaux=new Date(fechahoyaux);
var meshoy=parseInt(fechahoyaux.getMonth())+1;
    if(meshoy.toString().length<2)
    	meshoy="0"+meshoy.toString();
var fechahoyformataux=fechahoyaux.getFullYear()+"-"+meshoy+"-"+fechahoyaux.getDate();

//console.log(fechahoy.getTime());
//var fechamenos=parseInt(fechahoy.getTime())-(7*86400000);
//console.log(fechamenos);
/*var fechaanterior=new Date(fechamenos);
var mesant=parseInt(fechaanterior.getMonth())+1;
if(mesant.toString().length<2)
	mesant="0"+mesant.toString();
var fechaantformat=fechaanterior.getFullYear()+"-"+mesant+"-"+fechaanterior.getDate();*/

//$('#fechadesde').val(fechaantformat);
$('#fechadesde').val(fechahoyformataux);
//$('#fechahasta').val(fechahoyformat);

getSearch();
});

function getSearch(){
	//console.log($('#fechadesde').val());
	var filtrodesde=new Date($('#fechadesde').val());
    var fechahoy=new Date($('#fechadesde').val());
    fechahoy=parseInt(fechahoy.getTime())+86400000;
	filtrodesde=filtrodesde.getTime();
	filtrohasta=fechahoy;
    console.log(filtrodesde);
    console.log(filtrohasta);
	var desde=2000000*page;
	var queryextra=' id is not NULL';
	if(filtrodesde!='')
		queryextra+=' and fecha >='+filtrodesde+' and fecha <='+filtrohasta+' ';

	var db = window.openDatabase("Database", "1.0", "PractisisMobile", 200000);
	db.transaction(function(tx){
		tx.executeSql('SELECT * FROM FACTURAS WHERE '+queryextra+' ORDER BY id desc',[],function(tx,result){
			$('#paginacion').html('');
			var npags=Math.ceil(result.rows.length/2000000);
			$('#totalpags').val(npags);
			$('#paginacion').append("<li onclick='CambiarPagina(-1);'><span class='enabled' id='atras'>&laquo;</span></li>");
			for(var j=0;j<npags;j++){
				var act='';
				if(page==j)
					act='active';
				$('#paginacion').append("<li class='"+act+"' onclick='CambiarPagina("+parseInt(j)+");'><span class='enabled'>"+parseInt(j+1)+"</span></li>");
			}
			$('#paginacion').append("<li onclick='CambiarPagina(-2);'><span class='enabled' id='adelante'>&raquo;</span></li>");
		});
	},errorCB,successCB);

	//var miquery='SELECT * FROM FACTURAS WHERE '+queryextra+' ORDER BY id desc LIMIT '+desde+',15;';
    var miquery='SELECT * FROM FACTURAS WHERE '+queryextra+' ORDER BY id desc;';
	//console.log(miquery);

	db.transaction(function(tx){
	tx.executeSql(miquery,[],function(tx,results){
		//console.log(results);
		var inhtml='';
        var inhtmla='';
        var totalfinal = 0;
		for (var i=0; i < results.rows.length; i++){
			var row = results.rows.item(i);
			//console.log(row.fecha);
			var timefecha=new Date(row.fecha);
			var mes=timefecha.getMonth()+1;
			if(mes.toString().length<2)
				mes="0"+mes.toString();
			var fechaformat=("00" + timefecha.getDate()).slice(-2)+"/"+mes+"/"+timefecha.getFullYear()+" "+("00" + timefecha.getHours()).slice(-2)+":"+("00" + timefecha.getMinutes()).slice(-2)+":"+("00" + timefecha.getSeconds()).slice(-2);
			//console.log(row);
			var func="EditarFactura("+row.id+");";
			var datosfact=JSON.parse(row.fetchJson);
			var totalf=parseFloat(datosfact.Pagar[0].factura.total).toFixed(2);
            totalfinal += parseFloat(totalf);
			var anulada='No';
			if(row.anulada==1)
				anulada='Si';
			inhtml+='<tr onclick="'+func+'" ><td>'+fechaformat+'</td><td>'+row.clientName+'</td><td>'+row.RUC+'</td><td>'+("000000000" + row.id).slice(-9)+'</td><td>'+anulada+'</td><td style="text-align:right;">'+totalf+'</td></tr>';
		}
        inhtml+='<tr><td></td><td></td><td></td><td></td><td style="text-align: left;"><b>TOTAL$</b></td><td style="text-align:right;"><b>'+totalfinal.toFixed(2)+'</b></td></tr>';
        $('#totalencabezado').html(totalfinal.toFixed(2));
        var valorformapago = 0;
        var valortotal = 0;
        var con = 0;
        JSON.parse($('#jsonformaspago').html(), function (k, v) {
          if(v['id'] != undefined){
            console.log(v['id']+'**'+v['nombre']);
            //var dba = window.openDatabase("Database", "1.0", "PractisisMobile", 200000);
        	//db.transaction(function(txa){
            var totalfaux = 0;
        		tx.executeSql('select fetchJson from FACTURAS where '+queryextra+' and paymentsUsed="'+v['id']+'" ORDER BY id desc',[],function(tx,resulta){
                    for (var k=0; k < resulta.rows.length; k++){
                    var rowa = resulta.rows.item(k);
                    var datosfacta=JSON.parse(rowa.fetchJson);
			        var totalfa = parseFloat(datosfacta.Pagar[0].factura.total);
                    totalfaux += totalfa;
			        console.log(rowa.total);
                    }
                    con++;
                    inhtmla+='<tr><td style="text-align: right;">'+v['nombre']+'$</td><td style="text-align:right;">'+totalfaux.toFixed(2)+'</td></tr>';
                    valortotal += totalfaux;
                    if(con==7){
                        inhtmla += '<tr><td style="text-align: right;"><b>TOTAL$</b></td><td style="text-align:right;"><b>'+valortotal.toFixed(2)+'</b></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>';
                    }
                    LlenarTablaFacturasp(inhtmla);
        		});
        	//},errorCB,successCB);

          }
            return v;                  // return the unchanged property value.
        });
        LlenarTablaFacturas(inhtml);
	});
	},errorCB,successCB);
}

function LlenarTablaFacturas(datos){
	$('#detailDiv').html("<table align='center' class='table table-hover table-striped'><tr><th>Fecha</th><th>Cliente</th><th>RUC</th><th># Factura</th><th>Anulada</th><th style='text-align:right;'>Total US</th>"+datos+"</table>");
}
function LlenarTablaFacturasp(datosp){
	$('#detailDiva').html("<div style='background-color: #FFFFFF;'><table align='right' class='table' style='width: 25%;'><tr><th colspan='2' style='text-align:center;'>Formas de Pago</th></tr>"+datosp+"</table><div>");
}
function LlenarTablaFacturasau(datosau){

  console.log(datosau+'**');
	$('#tablaformapago').append(datosau);
}

function CambiarPagina(arg){
	//console.log($('#totalpags').val());
	if(arg==-1){
		if((page-1)>=0){
			page--;
			getSearch();
		}
	}else if(arg==-2){
		//console.log($('#totalpags').val());
		if((page+1)<parseInt($('#totalpags').val())){
			page++;
			getSearch();
		}
	}else{
		page=arg;
		getSearch();
	}

}

$(document).keyup(function(event){
	if(event.keyCode === 13){
		getSearch();
		}
});

function EditarFactura(idfactura){
	$('#main').load("views/facturacion/editarfactura.html",function(){
		VerDatosFactura(idfactura);
	});
}
</script>
