<div class="page page-dashboard" data-ng-controller="DashboardCtrl">
    <!-- stats -->
	<div class='row'>
		<div class='col-lg-12'>
		<div class="panel mini-box">
		<div class='col-lg-5'>
			Desde:
			<div class="input-group"> 
			<span class="input-group-addon glyphicon glyphicon-calendar" id="basic-addon1"></span><input type='text' class='form-control' id='desde'/></div>
		</div>
		<div class='col-lg-5'>
			Hasta:
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-calendar" id="basic-addon2"></span><input type='text' class='form-control' id='hasta'/>
		</div>
		</div>
		<div class='col-lg-2'>
			<button class='btn btn-primary' type='button' style='margin-top:10px;'>FILTRAR</button>
		</div>
		</div>
		</div>
	</div>
    <div class="row">
	    <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-danger">
                    <i class="fa fa-shopping-cart"></i>
                </span>
                <div class="box-info">
                    <p class="size-h3">10,262</p>
                    <p class="text-muted"><span data-i18n="Ventas $">Ventas $</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-success">
                    <i class="fa fa-credit-card"></i>
                </span>
                <div class="box-info">
                    <p class="size-h3">5.25<span class="size-h4"></span></p>
                    <p class="text-muted"><span data-i18n="Ticket Promedio $">Ticket Promedio $</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-info">
                    <i class="fa fa-users"></i>
                </span>
                <div class="box-info">
                    <p class="size-h3">78</p>
                    <p class="text-muted"><span data-i18n="Transacciones">Transacciones</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-warning">
                    <i class="fa fa-dollar"></i>
                </span>
                <div class="box-info">
                    <p class="size-h3">1,550</p>
                    <p class="text-muted"><span data-i18n="Utilidad $">Utilidad US$</span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end stats -->

    <div class="row">
        <div class="col-md-9">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Ventas">Ventas</span></strong></div>
                <div class="panel-body" data-ng-controller="morrisChartCtrl">
                        <div id="chartventas"></div>
                </div>
            </section> 
        </div>
		<div class='col-md-3'>
			<section class="panel panel-box info-box">
						<div class="panel-left panel-item bg-warning">
							<h1><i class="fa fa-dollar text-large box-icon">
							</i></h1>
						</div>
						<div class="panel-right panel-item bg-reverse">
							<p class="size-h2 no-margin"></p>
							<p class="text-muted no-margin"><span data-i18n="Costo Total US$">Costo Total US$</span></p>
						</div>
			</section>
			<section class="panel panel-box info-box">
						<div class="panel-left panel-item bg-info">
							<h1><i class="fa fa-users text-large stat-icon">
							</i></h1>
						</div>
					<div class="panel-right panel-item bg-reverse">
					<p class="size-h2 no-margin"><span>%</span></p>
					<p class="text-muted no-margin"><span data-i18n="Porcentaje de Costos %">Porcentaje de Costos</span></p>
					</div>
			</section>
		</div>
	</div>
	<div class='row'>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Rank Productos">Ranking de Productos</span></strong></div>
                <div class="panel-body"  data-ng-controller="flotChartCtrl">
					<table class="table">
					<thead>
						<tr>
							<th>Producto</th>
							<th>Cantidad</th>
							<th>Ventas US$</th>
						</tr>
					</thead>
					<tbody>
						<tr>       
							<td>Producto 1</td>
							<td align="right">125</td>
							<td align="right">325.45</td>
						</tr>
						<tr>       
							<td>Producto 2</td>
							<td align="right">78</td>
							<td align="right">315.45</td>
						</tr>
						<tr>       
							<td>Producto 3</td>
							<td align="right">152</td>
							<td align="right">302.24</td>
						</tr>
						<tr>       
							<td>Producto 4</td>
							<td align="right">102</td>
							<td align="right">215.25</td>
						</tr>
						<tr>       
							<td>Producto 5</td>
							<td align="right">99</td>
							<td align="right">199.36</td>
						</tr>
						<tr>       
							<td>Producto 6</td>
							<td align="right">99</td>
							<td align="right">199.36</td>
						</tr>
						<tr>       
							<td>Producto 7</td>
							<td align="right">99</td>
							<td align="right">199.36</td>
						</tr>
							</tbody>
							</table>
							
			</div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
 $('#desde').datepicker({
		showAnim: 'slideDown',
		showOtherMonths: true,
		dateFormat: 'yy-mm-dd',
		dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
		});
 $('#hasta').datepicker({
		showAnim: 'slideDown',
		showOtherMonths: true,
		dateFormat: 'yy-mm-dd',
		dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
		});
});

new Morris.Area({
  // ID of the element in which to draw the chart.
  element: 'chartventas',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: [
    { x: '04/02', ventas: 457.10 },
    { x: '05/02', ventas: 380.25 },
    { x: '06/02', ventas: 125.58 },
    { x: '07/02', ventas: 275.12 },
    { x: '08/02', ventas: 189.25 },
	{ x: '09/02', ventas: 129.25 },
	{ x: '10/02', ventas: 183.25 }
  ],
  // The name of the data record attribute that contains x-values.
  xkey: 'x',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['ventas'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['ventas'],
  parseTime: false,
  lineColors: ['#E94B3B']
});
</script>
  